{% load staticfiles %}
<!DOCTYPE HTML>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1, safari=1, mozillafirefox=1">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="keywords" content="notification, school, notify, national public school, nps, bangalore">
	<meta name="description" content="NPS - K's communication channel">


	<title>Notify</title>


	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">


	<!-- Icon -->
	<link rel="icon" type="image/png" href="LOGO.jpeg">



	<!-- Plugin CSS -->
	<link rel="stylesheet" href="{% static 'css/animate.min.css' %}" type="text/css">


	<!--Import Google Icon Font-->
	<link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Satisfy" rel="stylesheet">

	<!--Import materialize.css-->
	<link type="text/css" rel="stylesheet" href="{% static 'css/materialize.min.css' %}" media="screen,projection" />

	<!--Let browser know website is optimized for mobile-->
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

	<!-- Plugin CSS -->
	<link rel="stylesheet" href="css/animate.min.css" type="text/css">
	<link rel="stylesheet" href="css/animate.css" type="text/css">
</head>



<body>

	<ul id="dropdown1" class="dropdown-content">
		<li><a href="#!"><i class="small material-icons">settings</i></a></li>
		<li class="divider"></li>
		<li><a href="pass.html">Change Password</a></li>
		<li class="divider"></li>
		<li><a href="feedback.html">Feedback</a></li>
	</ul>

	<ul id="dropdown2" class="dropdown-content">
		<li><a href="#!"><i class="small material-icons">assignment_ind</i></a></li>
		<li class="divider"></li>
		<li><a href="index.html" id="logout">Logout</a></li>
	</ul>

	<nav class="nav-extended">
		<div class="nav-wrapper">
			<a href="#" class="brand-logo center" style="height:50px;">N O T I F Y</a>
			<ul id="nav-mobile" class="right hide-on-med-and-down">
				<li id="username">Rahul Bhattacharya
					<br />
					<br />
				</li>
				<li><a class="dropdown-button" data-activates="dropdown1"><i class="material-icons">settings</i></a></li>
				<li><a class="dropdown-button" data-activates="dropdown2"><i class="material-icons">assignment_ind</i></a></li>
			</ul>
		</div>
		<div class="nav-content">
			<ul class="tabs tabs-transparent">
				<li class="tab col s3"><a class="active" href="#tab1" id="sendnotif"> Send a Notification! </a></li>
				<li class="tab col s3"><a href="#tab2" id="past"> View Past Notifications! </a></li>
			</ul>
		</div>
		<div class="nav-wrapper" id="bread">
			<div class="col s12" id="steps">
				<a href="#t1" class="breadcrumb" id="b1">Select your classes</a>
			</div>
		</div>
	</nav>


	<br>
	<br>

	<div id="tab1" class="col s12">
		<div id="t1" class="col s12">
			<div class="row">
				<div class="input-field col s4 offset-s4">
					<select id="subgroup">
				    <option value="" disabled selected>Choose your sub-group</option>
				    <option value="1">IIT Coaching</option>
				    <option value="2">Basketball Class</option>
				    <option value="3">School Choir</option>
					<option value="4">All Students</option>
			    </select>
					<label>Choose your sub-group</label>
				</div>
			</div>
			<table class="centered" id="tableClasses">
				<thead>
					<tr>
						<th>
							<button class="waves-effect waves-light btn-large grey primary">Primary School</button>
						</th>
						<th>
							<button class="waves-effect waves-light btn-large grey secondary">Secondary School</button>
						</th>
						<th>
							<button class="waves-effect waves-light btn-large grey high">High School</button>
						</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>
							<table>
								<td>
									<button class="grade waves-effect waves-light btn-floating btn-large grey primclass">1A</button>
								</td>
								<td>
									<button class="grade waves-effect waves-light btn-floating btn-large grey primclass">1B</button>
								</td>
								<td>
									<button class="grade waves-effect waves-light btn-floating btn-large grey primclass">1C</button>
								</td>
							</table>
						</td>
						<td>
							<table>
								<td>
									<button class="grade waves-effect waves-light btn-floating btn-large grey secclass">6A</button>
								</td>
								<td>
									<button class="grade waves-effect waves-light btn-floating btn-large grey secclass">6B</button>
								</td>
								<td>
									<button class="grade waves-effect waves-light btn-floating btn-large grey secclass">6C</button>
								</td>
							</table>
						</td>
						<td>
							<table>
								<td>
									<button class="grade waves-effect waves-light btn-floating btn-large grey highclass">9A</button>
								</td>
								<td>
									<button class="grade waves-effect waves-light btn-floating btn-large grey highclass">9B</button>
								</td>
								<td>
									<button class="grade waves-effect waves-light btn-floating btn-large grey highclass">9C</button>
								</td>
							</table>
						</td>
					</tr>
					<tr>
						<td>
							<table>
								<td>
									<button class="grade waves-effect waves-light btn-floating btn-large grey primclass">2A</button>
								</td>
								<td>
									<button class="grade waves-effect waves-light btn-floating btn-large grey primclass">2B</button>
								</td>
								<td>
									<button class="grade waves-effect waves-light btn-floating btn-large grey primclass">2C</button>
								</td>
							</table>
						</td>
						<td>
							<table>
								<td>
									<button class="grade waves-effect waves-light btn-floating btn-large grey secclass">7A</button>
								</td>
								<td>
									<button class="grade waves-effect waves-light btn-floating btn-large grey secclass">7B</button>
								</td>
								<td>
									<button class="grade waves-effect waves-light btn-floating btn-large grey secclass">7C</button>
								</td>
							</table>
						</td>
						<td>
							<table>
								<td>
									<button class="grade waves-effect waves-light btn-floating btn-large grey highclass">10A</button>
								</td>
								<td>
									<button class="grade waves-effect waves-light btn-floating btn-large grey highclass">10B</button>
								</td>
								<td>
									<button class="grade waves-effect waves-light btn-floating btn-large grey highclass">10C</button>
								</td>
							</table>
						</td>
						<tr>
							<td>
								<table>
									<td>
										<button class="grade waves-effect waves-light btn-floating btn-large grey primclass">3A</button>
									</td>
									<td>
										<button class="grade waves-effect waves-light btn-floating btn-large grey primclass">3B</button>
									</td>
									<td>
										<button class="grade waves-effect waves-light btn-floating btn-large grey primclass">3C</button>
									</td>
								</table>
							</td>
							<td>
								<table>
									<td>
										<button class="grade waves-effect waves-light btn-floating btn-large grey secclass">8A</button>
									</td>
									<td>
										<button class="grade waves-effect waves-light btn-floating btn-large grey secclass">8B</button>
									</td>
									<td>
										<button class="grade waves-effect waves-light btn-floating btn-large grey secclass">8C</button>
									</td>
								</table>
							</td>
							<td>
								<table>
									<td>
										<button class="grade waves-effect waves-light btn-floating btn-large grey highclass">11A</button>
									</td>
									<td>
										<button class="grade waves-effect waves-light btn-floating btn-large grey highclass">11B</button>
									</td>
									<td>
										&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
									</td>
								</table>
							</td>
							<tr>
								<td>
									<table>
										<td>
											<button class="grade waves-effect waves-light btn-floating btn-large grey primclass">4A</button>
										</td>
										<td>
											<button class="grade waves-effect waves-light btn-floating btn-large grey primclass">4B</button>
										</td>
										<td>
											<button class="grade waves-effect waves-light btn-floating btn-large grey primclass">4C</button>
										</td>
									</table>
								</td>
								<td>
									<table>
									</table>
								</td>
								<td>
									<table>
										<td>
											<button class="grade waves-effect waves-light btn-floating btn-large grey highclass">12A</button>
										</td>
										<td>
											<button class="grade waves-effect waves-light btn-floating btn-large grey highclass">12B</button>
										</td>
										<td>
											&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
										</td>
									</table>
								</td>
								<tr>
									<td>
										<table>
											<td>
												<button class="grade waves-effect waves-light btn-floating btn-large grey primclass">5A</button>
											</td>
											<td>
												<button class="grade waves-effect waves-light btn-floating btn-large grey primclass">5B</button>
											</td>
											<td>
												<button class="grade waves-effect waves-light btn-floating btn-large grey primclass">5C</button>
											</td>
										</table>
									</td>
									<td>
										<table>
										</table>
									</td>
									<td>
										<table>
										</table>
									</td>

				</tbody>
			</table>

			<center>
				<a href="#t2" class="waves-effect waves-light btn-large disabled col s1" id="next" style="border-radius:15%">Next</a>
			</center>
			<br>
			<br>
			<br>

		</div>


		<div id="t2" class="col s12">
			<div class="container">
				<form>

					<div class="form-group">
						<input type="text" maxlength="50" placeholder="Title" id="title">
					</div>

					<div class="form-group">
						<textarea class="form-control status-box" maxlength="140" rows="2" placeholder=" What's on your mind?" id="msg"></textarea>
					</div>
				</form>

				<div class="button-group pull-right">

					<a href="#" class="btn btn-primary disabled" id="post">Next</a>
					<p class="counter">140</p>
				</div>

			</div>
		</div>
		<div id="t3" class="col s12">
			<div class="row" id="finalscreen">
				<div class="col s5 offset-s1">
					<div class="card-panel grey lighten-3">
						<span id="review">

					    </span>
						<br><br>
						<h6>Send through:</h6>
						<br>
						<div class="switch">
							<span style="float:left">
							    Email:
							    <label>
								    Off
								    <input type="checkbox" id="email">
								    <span class="lever"></span> On
							</label>
							</span>
							<span style="float:right">
							    SMS:
							    <label>
								    Off
								    <input type="checkbox" id="sms">
								    <span class="lever"></span> On
							</label>
							</span>
						</div>
						<br>
					</div>
				</div>
				<div class="row">
					<div class="col s4 offset-s1">
						<div class="card-panel grey lighten-3">
							<h4>Classes:</h4>
							<span id="classesreview">


						    </span>

						</div>
					</div>

				</div>

				<div class="row col s12">
					<center>
						<button class="btn btn-primary" id="confirm">Post</button>
					</center>
				</div>

			</div>
			<div class="row" id="confirmation">
				<center>
					<h4>Your notification has been sent! <a href="main.html"> Click Here to send another notification.</a></h4>
				</center>
			</div>
		</div>

	</div>



	<div id="tab2" class="col s12">
		<div id="posts">

		</div>
	</div>









	<!--Import jQuery before materialize.js-->
	<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
	<script type="text/javascript" src="{% static 'js/materialize.min.js' %}"></script>
	<script>
		var main = function () {
			if (sessionStorage['token'] == null)
				window.location = "http://localhost:8000";

			var list_classes = [];
			var third = "<a href=\"#t3\" class=\"breadcrumb\" id=\"b3\">Review notification</a>";
			var second = "<a href=\"#t2\" class=\"breadcrumb\" id=\"b2\">Write your notification</a>";
			$('#confirm').click(function () {
				$('#past').click();
				alert("The notification has been sent!");
			});
			$('#past').click(function () {
				$('#bread').hide();
			});
			$('#sendnotif').click(function () {
				$('#bread').show();
			});
			$('#post').click(function () {
				var msg = $('.status-box').val();
				var title = $('#title').val();
				var notif = "<h4>" + title + "</h4><h5>" + msg + "</h5>";
				var a = 140 - $('.status-box').val().length;
				$('.counter').text(a);
				$('#steps').append(third);
				$('#t2').hide();
				$('#review').html(notif);
				$('#t3').show();

				$('#classesreview').text('');
				for (var i = 0; i < list_classes.length; i++) {
					$('#classesreview').append("<div class=\"chip blue\"><span class=\"white-text\">" + list_classes[i] + "</span></div>&nbsp;&nbsp;");
					console.log(list_classes[i]);
					
				}
				$('#classesreview').append("<h5>Group: " + subgroups_name[$('#subgroup').val().toString()] + "</h5></div>");

			});

			$('#next').click(function () {
				$('#steps').append(second);
				$('#t2').show();
				$('#t1').hide();
			});

			var count = 0;
			$('.primary').click(function () {
				if ($(this).hasClass("grey")) {
					$('.primclass').each(function () {
						if ($(this).hasClass("grey") && !($(this).hasClass("disabled"))) {
							$(this).removeClass("grey");
							$(this).addClass("orange");
							count++;
							list_classes.push($(this).text());
						}
					});
					$(this).removeClass("grey");
					$(this).addClass("orange");

				} else {
					$('.primclass').each(function () {
						if ($(this).hasClass("orange")) {
							$(this).removeClass("orange");
							$(this).addClass("grey");
							count--;
							ind = list_classes.indexOf($(this).text());
							list_classes.splice(ind, 1);
						}
					});
					$(this).removeClass("orange");
					$(this).addClass("grey");
				}
				if (count == 0) {
					$('#next').addClass("disabled");
				} else {
					$('#next').removeClass("disabled");
				}
			});
			$('.secondary').click(function () {
				if ($(this).hasClass("grey") && !($(this).hasClass("disabled"))) {
					$('.secclass').each(function () {
						if ($(this).hasClass("grey")) {
							$(this).removeClass("grey");
							$(this).addClass("purple");
							count++;
							list_classes.push($(this).text());
						}
					});
					$(this).removeClass("grey");
					$(this).addClass("purple");

				} else {
					$('.secclass').each(function () {
						if ($(this).hasClass("purple")) {
							$(this).removeClass("purple");
							$(this).addClass("grey");
							count--;
							ind = list_classes.indexOf($(this).text());
							list_classes.splice(ind, 1);
						}
					});
					$(this).removeClass("purple");
					$(this).addClass("grey");
				}
				if (count == 0) {
					$('#next').addClass("disabled");
				} else {
					$('#next').removeClass("disabled");
				}
			});
			$('.high').click(function () {
				if ($(this).hasClass("grey") && !($(this).hasClass("disabled"))) {
					$('.highclass').each(function () {
						if ($(this).hasClass("grey")) {
							$(this).removeClass("grey");
							$(this).addClass("blue");
							count++;
							list_classes.push($(this).text());
						}
					});
					$(this).removeClass("grey");
					$(this).addClass("blue");

				} else {
					$('.highclass').each(function () {
						if ($(this).hasClass("blue")) {
							$(this).removeClass("blue");
							$(this).addClass("grey");
							ind = list_classes.indexOf($(this).text());
							list_classes.splice(ind, 1);
							count--;
						}
					});
					$(this).removeClass("blue");
					$(this).addClass("grey");
				}
				if (count == 0) {
					$('#next').addClass("disabled");
				} else {
					$('#next').removeClass("disabled");
				}
			});

			$('.primclass').click(function () {
				$(this).toggleClass("grey");
				$(this).toggleClass("orange");
				if ($(this).hasClass("orange")) {
					count++;
					list_classes.push($(this).text());
				} else {
					count--;
					ind = list_classes.indexOf($(this).text());
					list_classes.splice(ind, 1);
				}
				if (count == 0) {
					$('#next').addClass("disabled");
				} else {
					$('#next').removeClass("disabled");
				}
			});
			$('.secclass').click(function () {
				$(this).toggleClass("grey");
				$(this).toggleClass("purple");
				if ($(this).hasClass("purple")) {
					count++;
					list_classes.push($(this).text());
				} else {
					count--;
					ind = list_classes.indexOf($(this).text());
					list_classes.splice(ind, 1);
				}
				if (count == 0) {
					$('#next').addClass("disabled");
				} else {
					$('#next').removeClass("disabled");
				}
			});
			$('.highclass').click(function () {
				$(this).toggleClass("grey");
				$(this).toggleClass("blue");
				if ($(this).hasClass("blue")) {
					count++;
					list_classes.push($(this).text());
				} else {
					count--;
					ind = list_classes.indexOf($(this).text());
					list_classes.splice(ind, 1);
				}
				if (count == 0) {
					$('#next').addClass("disabled");
				} else {
					$('#next').removeClass("disabled");
				}
			});

			$('.status-box').keyup(function () {
				var postLength = $(this).val().length;
				var charactersLeft = 140 - postLength;
				$('.counter').text(charactersLeft);

				if (charactersLeft < 0) {
					$('.btn').addClass('disabled');
				} else if (charactersLeft == 140) {
					$('.btn').addClass('disabled');
				} else {
					$('.btn').removeClass('disabled');
				}
			});

			$('.btn').addClass('disabled');
			$('#t2').hide();
			$('#t3').hide();
			$(document).on("click", "#b1", function () {
				$('#t2').hide();
				$('#t3').hide();
				var p = document.getElementById("steps");
				var q = document.getElementById("b3");
				var r = document.getElementById("b2");
				if (q != null)
					p.removeChild(q);
				if (r != null)
					p.removeChild(r);
				$('#t1').show();
			});
			$(document).on("click", "#b2", function () {
				$('#t1').hide();
				$('#t3').hide();
				$('#t2').show();
				var p = document.getElementById("steps");
				var q = document.getElementById("b3");
				if (q != null)
					p.removeChild(q);

			});
			$(document).on("click", "#b3", function () {
				$('#t2').hide();
				$('#t1').hide();
				$('#t3').show();
			});
			$('#confirmation').hide();

			function getCookie(name) {
				var cookieValue = null;
				if (document.cookie && document.cookie !== '') {
					var cookies = document.cookie.split(';');
					for (var i = 0; i < cookies.length; i++) {
						var cookie = jQuery.trim(cookies[i]);
						// Does this cookie string begin with the name we want?
						if (cookie.substring(0, name.length + 1) === (name + '=')) {
							cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
							break;
						}
					}
				}
				return cookieValue;
			}
			function send() {

				var csrftoken = getCookie('csrftoken');
				var token = sessionStorage.getItem('token');
				var tokenheader = "Token " + token;

				var xhr = new XMLHttpRequest();
				xhr.open('POST', "http://localhost:8000/api/send/", true);
				xhr.setRequestHeader("X-CSRFToken", csrftoken);
				xhr.setRequestHeader("Content-Type", "application/json");
				xhr.setRequestHeader("Authorization", tokenheader);
				var m = $('.status-box').val();
				var t = $('#title').val();
				var grp = "";
				for (var i = 0; i < list_classes.length; i++) {
					grp += "," + list_classes[i];
				}
				if ($('#subgroup').val() == null) {
					subgroups_tosend = "null";
				} else {
					subgroups_tosend = subgroups_name[$('#subgroup').val().toString()];
					if (subgroups_tosend == "4") {
						subgroups_tosend = "null";
					}
					console.log($('#subgroup').val().toString());
				}
				var params = {
					notification: m,
					title: t,
					groups: grp,
					subgroups: subgroups_tosend
				};
				console.log(params);
				xhr.send(JSON.stringify(params));

				xhr.onreadystatechange = processRequest;

				function processRequest(e) {
					if (xhr.readyState == 4 && xhr.status == 200) {
						var msg = $('.status-box').val();
						var title = $('#title').val();
						var notif = "<h4>Title:" + title + "</h4><h4>Notification:</h4><h5>" + msg + "</h5>";
						var posted_notif = "<div class=\"row\"><div class=\"col s10 offset-s1 card-panel grey lighten-3\">" + notif + "</div></div>";
						$('#posts').prepend(posted_notif);
					}
					else if (xhr.readyState == 4 && xhr.status != 200) {
						console.log("fail");
					}
				}
			}
			$('#confirm').click(function () {
				send();
			});

			var csrftoken = getCookie('csrftoken');
			var token = sessionStorage.getItem('token');
			var tokenheader = "Token " + token;

			var xhr = new XMLHttpRequest();
			xhr.open('GET', "http://localhost:8000/api/fetchold/?format=json", true);
			xhr.setRequestHeader("X-CSRFToken", csrftoken);
			xhr.setRequestHeader("Content-Type", "application/json");
			xhr.setRequestHeader("Authorization", tokenheader);
			xhr.send();

			xhr.onreadystatechange = processRequest;

			function processRequest(e) {
				if (xhr.readyState == 4 && xhr.status == 200) {
					var a = $.parseJSON(xhr.responseText);
					console.log(a[0]);
					console.log(a.length)
					for (var i = 0; i < 6; i++) {
						var posted_notif = "";
						for (var j = 0; j < 3; j++) {
							var title = a[i + j].title;
							var msg = a[i + j].body;
							var time = a[i + j].time;
							notif = "<h4>Title: " + title + "</h4><h4>Notification:</h4><h5>" + msg + "</h5>Time: " + time;
							posted_notif += "<div class=\"col s10 offset-s1 card-panel grey lighten-3\">" + notif + "</div>";
						}
						$('#posts').append("<div class=\"row\">" + posted_notif + "</div>");
					}

				}
				else if (xhr.readyState == 4 && xhr.status != 200) {
					console.log("fail");
				}
			}
			var xhr2 = new XMLHttpRequest();
			xhr2.open('GET', "http://localhost:8000/api/details/?format=json", true);
			xhr2.setRequestHeader("X-CSRFToken", csrftoken);
			xhr2.setRequestHeader("Content-Type", "application/json");
			xhr2.setRequestHeader("Authorization", tokenheader);
			xhr2.send();

			xhr2.onreadystatechange = processRequest2;

			function processRequest2(e) {
				if (xhr2.readyState == 4 && xhr2.status == 200) {
					var a = $.parseJSON(xhr2.responseText);
					$('#username').text(a.name);
				}
				else if (xhr2.readyState == 4 && xhr2.status != 200) {
					console.log("fail");
				}
			}
			$('#logout').click(function () {
				sessionStorage.removeItem('token');
				window.location = "http://localhost:8000";
			});
			$('select').material_select();
			var subgroups = { 1: ["9A", "9B", "9C", "10A", "10B", "10C", "11A", "11B", "12A", "12B"], 2: ["9A", "9B", "9C"], 3: ["8A", "8B", "8C"] };
			var subgroups_name = { 1: "IIT Coaching", 2: "Basketball", 3: "School Choir" }
			$("#subgroup").change(function () {
				var clicked_group = $('#subgroup').val().toString();
				if (clicked_group == "4") {
					$('#tableClasses tr td').each(function () {
						var $this = $(this).children(":first");
						if ($this.hasClass("disabled")) {
							$this.removeClass("disabled");
						}
					});
				} else {
					$('#tableClasses tr td').each(function () {
						var $this = $(this).children(":first");
						var f = 0;
						for (var i = 0; i < subgroups[clicked_group].length; i++) {
							if ($this.text() == subgroups[clicked_group][i]) {
								f = 1;
								break;
							}
						}
						if (!f) {
							$this.addClass("disabled");
							if ($(this).hasClass("blue") || $(this).hasClass("purple") || $(this).hasClass("orange")) {
								$(this).removeClass("blue purple orange");
								$(this).addClass("grey");
								ind = list_classes.indexOf($(this).text());
								list_classes.splice(ind, 1);
								count--;
							}
						}
					});
				}
			});
		}
		$(document).ready(main);
	</script>
</body>

</html>